@page "/findbooks"
@using Microsoft.Maui.Controls
@using LibraryOfAlexandria.ClassPackage.Persistence;
@using LibraryOfAlexandria.ClassPackage.Domain;
@inject BooksManager booksManager;
@inject DataBase dataBase;


<div class="header">
    <h1>Find a Book</h1>

    <label>Search Book ISBN:</label>
    <input @bind-value="searchID"/>

    <label>Search Book Name:</label>
    <input @bind-value="searchName"/>

    <label>Search Book Author:</label>
    <input @bind-value="searchAuthor"/>

    <label>Found Book Category:</label>
    <input @bind-value="searchCategory"/>
</div>

<div>
    <select>
        @foreach (Books book in foundBooks)
        {
            <option value="@book.Isbn">@book</option>
        }
    </select>
</div>

<div>
    <h1>Selected Book</h1>

    <label>Found Book ID:</label>
    <input @bind-value="foundID"/>

    <label>Found Book Name:</label>
    <input @bind-value="foundName"/>

    <label>Found Book Author:</label>
    <input @bind-value="foundAuthor"/>

    <label>Found Book Category:</label>
    <input @bind-value="foundCategory"/>

    <label>Available for Checkout:</label>
    <input @bind-value="foundAvailable"/>

    <button>Check out book</button>

    <button>Return Book</button>
</div>

@code {
    private List<Books> foundBooks = new List<Books>();
    private string searchID { get; set; } = string.Empty;
    private string searchName { get; set; } = string.Empty;
    private string searchAuthor { get; set; } = string.Empty;
    private string searchCategory { get; set; } = string.Empty;
    private string foundID { get; set; } = string.Empty;
    private string foundName { get; set; } = string.Empty;
    private string foundAuthor { get; set; } = string.Empty;
    private string foundCategory { get; set; } = string.Empty;
    private string foundAvailable { get; set; } = string.Empty;
    private string? errMess;
    string? foundBookID;


    protected override async Task OnInitializedAsync()
    {
        searchID = "Any";
        searchName = "Any";
        searchAuthor = "Any";
        searchCategory = "Any";
        
        try
        {
            foundBooks = await dataBase.GetItemsAsync();
        }
        catch (Exception ex)
        {
            errMess = ex.Message;
        }
    }
 
    void errorFix()
    {
        errMess = null;
    }
    void SearchBooks()
    {

    }
    void CheckoutBook()
    {

    }
    void LoadBookInfo()
    {
        
    }

}
