@page "/modifybooks"


<div>
    <h1>Add a Book</h1>

    <label>Add Book ID:</label>
    <input />

    <label>Add Book Name:</label>
    <input />

    <label>Add Book Author:</label>
    <input />

    <label>Add Book Category:</label>
    <input />

    <button>Add Book</button>
</div>


<div>
    <h1>Modify Book Search</h1>

    <label>Modify Book ID:</label>
    <input />

    <label>Modify Book Name:</label>
    <input />

    <label>Modify Book Author:</label>
    <input />

    <label>Modify Book Category:</label>
    <input />

    <button>Search for Book</button>
</div>
<select>
    <option>Found Books appears here</option>
</select>


<div>
    <h1>Found Book info to Modify</h1>
</div>
<div>
    <label>Modify Book ID:</label>
    <input />
</div>

<div>
    <label>Modify Book Name:</label>
    <input />
</div>

<div>
    <label>Modify Book Author:</label>
    <input />
</div>

<div>
    <label>Modify Book Category:</label>
    <input />
</div>
<div>
    <button>Save Changes</button>
</div>


@code {


}
